#showAdvanceFilter
{
    margin-top: 2px;
    font-weight: 450px;

}
#showAdvanceFilter-item
{
    margin-top: 2px;
    font-weight: 450px;
    
}
#showAdvanceFilter-item  md-input-container
{
    margin-top: 2px;
    font-weight: 450px;
    
}