.example-fill-remaining-space {

  flex: 1 1 ;
}

 .cart-form {

    width: 30%;
    min-width: 178px;
    position: absolute;
    left: 30%;
    top: 90px;
    padding: 40px 1px;
}
 .example-form,md-card-actions {

    width: 80%;
    min-width: 178px;
    margin-left: 6px;
    top: 91px;
    padding: 16px 26px;

}
  #error
  {
    font-size: 15px;
    text-align: center;
    
    color: blue;
    text-shadow: 0px 0px 1px black;
  }
  #action
  {
    padding: 30px;
  }
  md-card-actions span
  {
    font-weight: lighter;
    font-size: small;
  }
   md-card-actions button
  {
    right:0px;
  }
 .example-form md-input-container, .example-form md-select
{
  width: 98%;
    padding: 2px;
        margin-top: 5px
}
   .example-form md-select md-option 
   {
      width:113%;
      text-align: center;
   }
.example-full-width {
  width: 100%;
}
